body{
      margin:0;
      padding:0;
      font-family:"Arial Black", Gadget, sans-serif;
     
      font-size:25px;
      text-align:center;
}
.f{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    width:300px;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    opacity:95%;
}
.f input{
    border:0;
    background:none;
    display:block;
    margin:2px auto;
    text-align:center;
    font-size:20px;
    font-weight:500;
    border:2px solid black;
    padding:5px 8px;
    width:300px;
    outline:none;
    color:black;
    border-radius:4px;
    transition:.5s;
}
.f input[class="btn"]{
    border:0;
    background:grey;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid grey;
    padding:6px 13px;
    width:200px;
    cursor:pointer;
    outline:none;
    color:black;
    border-radius:24px;
    transition:.25s;
}    
.f input[class="btn"]:hover{
    color:white;
    background-image:linear-gradient(grey,black);
  
}
