body{
      margin:0;
      padding:0;
      font-family:sans-seriff;
      font-size:25px;
      text-align:center;
}
.f{
    width:300px;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    background-color:white;
    transform:translate(-50%,-50%);
    text-align:center;
    opacity:95%;
}
h4{
    text-align:center;
      background-color: #333;
       color:white;
}
a{
    border:0;
    display: block;
    background:none;
    display:block;
    margin:2px auto;
    text-align:center;
    font-size:20px;
    font-weight:500;
    width:200px;
    outline:none;
    color:black;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size:15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
